<ion-app>
  <ion-content>
    <ion-slides pager="true">

      <ion-slide class="slide">
        <section class="section-img">
          <img src="../../../assets/img/icono_medico.png" class="logo">
        </section>
      </ion-slide>

      <ion-slide  class="slide">
        <section>
          <img src="../../../assets/img/APP ZERO DIET_slides-11.png">
        </section>

        <h1 class="title-1">
          Programa de alimentación
        </h1>
        <h1 class="title-2">
          ZERO DIET
        </h1>

        <section class="section-txt">
          <h1 style="text-align: justify;">
            • <strong>Zero Diet</strong> es un programa de alimentación personalizado considerando tus hábitos, estado de salud y antecedentes.
          </h1>
          <h1 style="text-align: left;">
            • Vamos a resolverte el problema de <strong>sobrepeso</strong> y <strong>obesidad</strong> de una manera facil y eficiente.
          </h1>
          <h1 style="text-align: left;">
            • <strong>Zero Diet</strong> está basado combinación de alimentos, no tendrás que contar, medir o pesar lo que comas, es a libre demanda y crea un estilo de vida para mantenerte en tu peso siempre.
          </h1>
          <h1 style="text-align: left;">
            • Puedes bajar de 3 a 5 kilos al mes sin pasar hambre.
          </h1>
        </section>
      </ion-slide>

      <ion-slide class="slide">
        <section>
          <img src="../../../assets/img/APP ZERO DIET_slides-07.png">
        </section>

        <section class="section-txt">
        <h1 class="title">
          Nuestra alimentación deben incluir los <strong>3 grupos alimenticios:</strong>
        </h1>
        <h1 style="text-align: left;">
          • PROTEINAS
        </h1>

        <h1 style="text-align: left;">
          • GRASAS
        </h1>

        <h1 style="text-align: left;">
          • CARBOHIDRATOS
        </h1>
      </section>

      <section class="section-img2">
        <img src="../../../assets/img/DIAGRAMA.png" class="diagrama">

      </section>
      <section class="section-txt">
        <h1>
          <strong>Zero Diet</strong> te enseñará como combinarlos para bajar de peso.
        </h1>
      </section>
      </ion-slide>

      <ion-slide class="slide">
        <section>
          <img src="../../../assets/img/APP ZERO DIET_slides-09.png">
        </section>
        <section class="section-txt">
          <h1>
            Podras comer lo que desees una vez a la semana
          </h1>  
        </section>

        <section class="section-img2">
          <img src="../../../assets/img/comida.jpg" class="comida">
        </section>
        <section class="section-img2">
          <img src="../../../assets/img/postre.jpg" class="comida">
        </section>

      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>