<ion-app>
    <ion-content class="background">

        <section>
            <img src="../../../assets/img/APP ZERO DIET_slides-06.png">
        </section>

        <section class="section-title">
            <h3 style="text-align: center;" class="h3">Seleccione el nombre de la empresa</h3>
        </section>

        <section class="section-list">
            <ion-item>
                <ion-label class="label-list">
                    Empresa:
                </ion-label>
                <ion-select color="verde" no-border mode="ios" class="select">
                    <ion-select-option value="01">Empresa 1</ion-select-option>
                    <ion-select-option value="02">Empresa 2</ion-select-option>
                    <ion-select-option value="03">Empresa 3</ion-select-option>
                    <ion-select-option value="04">Empresa 4</ion-select-option>
                    <ion-select-option value="05">Empresa 5</ion-select-option>
                </ion-select>
            </ion-item>
        </section>

        <section class="section-body">
            <ion-item>
                <ion-label position="floating" class="h3-letter">Clave de la empresa*</ion-label>
                <ion-input class="input"></ion-input>
            </ion-item>
        </section>

        <section class="section-btn">
            <ion-button class="btn" color="verde" expand="full" shape="round" (click)="Registro()">
                SIGUIENTE
            </ion-button>
        </section>
    </ion-content>
</ion-app>>