

<ion-content class="background">

    <section>
        <img src="../../../assets/img/APP ZERO DIET_slides-10.png">
    </section>

    <section class="section-img">
        <img src="../../../assets/img/icono_usuario.png" class="img-user">
    </section>
    <ion-grid>
        <section class="section-st">
            <ion-row>
                <label class="label-subtitle">
            Nombre: {{datosUsuario.nombre}} {{datosUsuario.apellido}}
          </label>
            </ion-row>
        </section>

        <section class="section-st">
            <ion-row>
                <label class="label-subtitle">
            Edad: {{datosUsuario.edad}}
          </label>
            </ion-row>
        </section>
        <section class="section-st">
          <ion-row>
              <label class="label-subtitle">
                Estatura: {{datosUsuario.estatura}}
        </label>
          </ion-row>
      </section>

      <section class="section-st">
        <ion-row>
            <label class="label-subtitle">
              Móvil: {{datosUsuario.movil}}
      </label>
        </ion-row>
    </section>

    <section class="section-st">
        <ion-row>
            <label class="label-subtitle">
              Correo: {{datosUsuario.correo}}
      </label>
        </ion-row>
    </section>

        <section class="section-st">
            <ion-row>
                <label class="label-subtitle">
            I.M.C: {{IMC}}
          </label>
            </ion-row>
        </section>

        <section class="section-st">
            <ion-row>
            <label class="label-subtitle">
                Peso Ideal: {{pesoIdeal}} kg
          </label>
            </ion-row>
        </section>

    </ion-grid>
</ion-content>