<ion-app>
  <ion-content class="background">

    <section>
      <img src="../../../assets/img/APP ZERO DIET_slides-05.png">
    </section>

    <section class="section-h1">
      <h1 style="text-align: center;" class="h1-txt">
        CON ZERO DIET ES FÁCIL BAJAR DE PESO
      </h1>
    </section>

    <section class="section-img" (click)="paginacion()">
      <img src="../../../assets/img/BOTONES_2-21.png" class="img-woman">
      <h1 style="text-align: center;" class="h1-gen">
        Mujer
      </h1>
    </section>

    <section class="section-img" (click)="paginacion()">
      <img src="../../../assets/img/BOTONES_2-20.png" class="img-man">
      <h1 style="text-align: center;" class="h1-gen">
        Hombre
      </h1>
    </section>

    <h3 class="label1" style="text-align: center;" (click)="login()">
      <u>OMITIR</u>
    </h3>



  </ion-content>
</ion-app>
