<ion-content class="background">
    <section>
        <img src="../../../assets/img/APP ZERO DIET_slides-07.png">
    </section>


    <section class="section-buttons">
        <section class="section-btn">
            <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round" (click)="ingresar2()">
                <ion-icon name="fitness-outline" slot="start" style="zoom: 1.5;">

                </ion-icon>
                <ion-label style="color: #1B5E20;" class="label">
                    NUTRIÓLOGO
                </ion-label>
            </ion-button>
        </section>

        <section class="section-btn">
            <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round" (click)="ingresar()">
                <ion-icon name="nutrition-outline" slot="start" style="zoom: 1.5;">

                </ion-icon>
                <ion-label style="color: #1B5E20;" class="label">
                    PACIENTE
                </ion-label>
            </ion-button>
        </section>

    </section>


</ion-content>