@font-face {
    font-family: MuseoSans;
    src: url("../assets/fonts/MuseoSans.otf");
    }
    @font-face {
        font-family: BebasRegular;
        src: url("../assets/fonts/BebasRegular.otf");
        }

    @font-face {
        font-family: BebasNeueLigth;
        src: url("../assets/fonts/BebasNeueLight.otf");
         }

    @font-face {
        font-family: BebasNeueBook;
        src: url("../assets/fonts/BebasNeueBook.otf");
         }

    @font-face {
        font-family: BebasNeueBold;
        src: url("../assets/fonts/BebasNeueBold.otf");
        }

    @font-face {
        font-family: AkzidenzLight;
        src: url("../assets/fonts/AkzidenzLight.otf");
        }

    @font-face {
        font-family: AkzidenzLightCond;
        src: url("../assets/fonts/AkzidenzGroteskLightCond.otf");
         }

    @font-face {
        font-family: AkzidenzNormal;
        src: url("../assets/fonts/AkzidenzNormal.otf");
        }

    @font-face {
        font-family: AkzidenzMedium;
        src: url("../assets/fonts/AkzidenzMedium.otf");
        }

        @font-face {
            font-family: AkzidenzBC;
            src: url("../assets/fonts/AkzidenzGrotesk-BoldCond.otf");
            }
