<ion-app>

    <ion-content class="background">

        <section>
            <img src="../../../assets/img/APP ZERO DIET_slides-11.png">
        </section>

        <section class="seccion">
            <h3 style="text-align: center;" class="h3">¿Eres miembro de una empresa registrada?</h3>
        </section>

        <section class="section-btn">
            <ion-button color="verde" expand="full" shape="round" class="btn-primary" (click)="Si()">
                SI
            </ion-button>
        </section>

        <section class="section-btn">
            <ion-button color="verdelight" expand="full" shape="round" class="btn-second" (click)="No()">
                <ion-label style="color: #1B5E20;" class="label">
                    NO
                </ion-label>
            </ion-button>
        </section>

    </ion-content>

</ion-app>