<ion-content class="background">
    <section>
        <img src="../../../assets/img/APP ZERO DIET_slides-07.png">
    </section>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle class="subtitle">Programa de alimentacion Zero Diet</ion-card-subtitle>
            <ion-card-title class="title">$199.00 MXN al mes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <h1 class="h1">
                •Cada semana tendrás tú dieta personalizada.
            </h1>

            <section class="section-btn">
                <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round">
                    <ion-label style="color: #1B5E20;" class="label">
                        COMPRAR
                    </ion-label>
                </ion-button>
            </section>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../../../assets/img/Suplemento.jpg">
        <ion-card-header>
            <ion-card-subtitle class="subtitle">Suplemento alimenticio Zero DIet 100% Natural</ion-card-subtitle>
            <ion-card-title class="title">$799.00 MXN al mes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <h1 class="h1">
                •Recibiras 4 Blister semanales (Tratamiento para un mes)
            </h1>

            <h1 class="h1" style="text-align: center;">
                <br> Envío a tu domicilio GRATIS.
            </h1>

            <section *ngIf="mostrar">

                <section class="section-img">
                    <img src="../../../assets/img/ZERO DIET REVERSO.jpg">
                </section>

                <h1 class="title-product"><b>Descripción</b></h1>

                <h1 class="h1" style="text-align:justify">
                    El suplemento alimenticio Zero Diet es 100% natural, está elaborado con ingredientes herbales certificados para reducir peso. Este compuesto natural le ayudara a sus pacientes a controlar el peso por su efecto termigénico, disminuye el apetito, baja de
                    peso, proporciona vitaminas y minerales, reduce la retención de agua, activa el metabolismo de la grasa, baja los niveles de colesterol, es una fuente de energía, produce masa muscular y firmeza además que le ayudará a regular el metabolismo.

                    <ul>
                        <li>
                            <b>
                                Cápsula de la mañana: 
                            </b> es un termogénico natural que le ayudará a activar su metabolismo para que baje de peso, quema grasa, disminuye el apetito, proporciona energía y ayuda a digerir bien los alimentos.
                            <br><br> Fórmula: Cola de caballo, Enebro, Uva Ursi, Ortiga y Garcinia Cambogía.
                        </li>
                        <br><br>
                        <li>
                            <b>
                                Cápsula de la tarde: 
                            </b> es un diurético natural que ofrece excelentes resultados por medio de una combinación de ingredientes completamente herbales.
                            <br><br> Fórmula: Nopal, Vitamina B6, kola nut, Inositol, L-Carnitina, Hoja Sen, fucus, Ginseng Panax y Phytoloca.
                        </li>
                        <br><br>
                        <li>
                            <b>
                                Cápsula de la noche: 
                            </b> es un laxante suave que trabaja mediante la estimulación de la peristálsis intestinal. Su contenido le ayudará como restaurador del colon y para desintoxicar el organismo.
                            <br><br>Fórmula: Hoja Sen y Cáscara sagrada.
                        </li>

                    </ul>

                    <ins>Contradindicaciones:</ins> No debe usarse en mujeres lactantes o embarazadas y en niños menores de 12 años.
                    <br>
                    <ins>Dosis:</ins> Tomar una cápsula de cada una al día, a la hora indicada, se recomienda tomarlas con un vaso de agua tibia y medio limón.
                    <br>
                    <ins>Presentación:</ins> Blíster con 21 cápsulas (tratamiento semanal)
                    <br><br>
                    <i>S.S.A. Productos herbolarios de conformidad con los artículos 198, 200 bis y 202 de la ley general de salud.</i>

                </h1>

            </section>


            <section class="section-btn">
                <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round" (click)="mostrar = !mostrar">
                    <ion-label style="color: #1B5E20;" class="label-show">
                        Mostrar/Ocultar
                    </ion-label>
                </ion-button>
            </section>

            <section class="section-btn">
                <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round">
                    <ion-label style="color: #1B5E20;" class="label">
                        COMPRAR
                    </ion-label>
                </ion-button>
            </section>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle class="subtitle">Paquete mensual</ion-card-subtitle>
            <ion-card-title class="title">$899.00 MXN al mes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <h1 class="h1">
                •Programa de alimentación Zero Diet para un mes.
            </h1>

            <h1 class="h1">
                <br> •Suplemento alimenticio Zero Diet 100% natural para un mes.
            </h1>

            <h1 class="h1" style="text-align: center;">
                <br> Envío a tu domicilio GRATIS.
            </h1>

            <section class="section-btn">
                <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round">
                    <ion-label style="color: #1B5E20;" class="label">
                        COMPRAR
                    </ion-label>
                </ion-button>
            </section>
        </ion-card-content>
    </ion-card>

    <ion-card>

        <img src="../../../assets/img/INMUNOMAXX.jpg">
        <ion-card-header>
            <ion-card-subtitle class="subtitle">Inmunomaxx</ion-card-subtitle>
            <ion-card-title class="title">$799.00 MXN al mes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <h1 class="h1">
                •Mejora tu sistema inmunologico con acciones antivirales, antibacterianas e inflamatorias.
            </h1>

            <h1 class="h1">
                <br> •Suplemento de Vitaminas y Minerales.
            </h1>

            <h1 class="h1">
                <br> •Recibiras 4 Blister semanales (tratamiento para un mes).
            </h1>

            <h1 class="h1" style="text-align: center;">
                <br> Envío a tu domicilio GRATIS.
            </h1>


            <section *ngIf="mostrar2">

                <section class="section-img">
                    <img src="../../../assets/img/INMUNOMAXX REVERSO.jpg">
                </section>

                <h1 class="title-product"><b>Descripción</b></h1>

                <h1 class="h1" style="text-align:justify">
                    La pandemia que vivimos nos ha hecho reflexionar entre otras cosas lo importante que es tener nuestro sistema inmunológico en óptimas condiciones, por lo que además del suplemento alimenticio nos dimos a la tarea de desarrollar un suplemento de vitaminas
                    y minerales para mejorar y fortalecer el sistema inmunológico.
                    <br><br>

                    <h1 class="title-product"><b>Beneficios</b></h1>

                    <ul>
                        <li>
                            Eleva el sistema inmune, tiene acciones antivirales, antibacterianas e inflamatorias.
                        </li>
                        <br><br>
                        <li>
                            Mejora la función orgánica, mejora la visión, ayuda a convertir los alimentos en energía, aporta calcio fortaleciendo huesos y músculos.
                        </li>
                        <br><br>
                        <li>
                            Es antioxidante, mejora los niveles de colesterol y el funcionamiento del corazón.
                        </li>
                    </ul>

                    <h1 class="title-product"><b>Kit semanal de Vitaminas y Minerales para mejorar el Sistema Inmunológico</b></h1>

                    <ul>
                        <li>
                            <b>
                                Cápsula de la mañana contiene: 
                            </b> Vitamina A, Vitamina B2, Vitamina B6, Vitamina D3, Vitamina E, Citrato de Hierro y Excipiente cbp.
                        </li>
                        <br><br>
                        <li>
                            <b>
                                Cápsula de la tarde contiene: 
                            </b> Vitamina C y Excipiente cbp.
                        </li>
                        <br><br>
                        <li>
                            <b>
                                Cápsula de la noche contiene: 
                            </b> Sulfato de Zinc, Citrato de Magnesio, Omega 6 y Excipiente cbp.
                        </li>

                    </ul>
                </h1>

            </section>

            <section class="section-btn">
                <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round" (click)="mostrar2 = !mostrar2">
                    <ion-label style="color: #1B5E20;" class="label-show">
                        Mostrar/Ocultar
                    </ion-label>
                </ion-button>
            </section>

            <section class="section-btn">
                <ion-button fill="outline" color="#1B5E20;" expand="full" shape="round">
                    <ion-label style="color: #1B5E20;" class="label">
                        COMPRAR
                    </ion-label>
                </ion-button>
            </section>
        </ion-card-content>
    </ion-card>




</ion-content>