<ion-app class="content">
    <ion-content no-bounce class="content">
        <ion-slides pager="true" class="swiper-slide">

            <ion-slide class="slide1 slide">

            </ion-slide>

            <ion-slide class="slide2 slide">

            </ion-slide>

            <ion-slide class="slide3 slide">

            </ion-slide>
        </ion-slides>
    </ion-content>

    <ion-footer class="footer">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="10" offset="1">
                    <ion-button color="verde" expand="full" shape="round" class="btn-primary" mode="ios" (click)="ingresar()">
                        INGRESAR
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="10" offset="1">
                    <ion-button color="verdelight" expand="full" shape="round" class="btn-second" (click)="registro()">
                        <ion-label style="color: #1B5E20;" class="label">
                            Crear cuenta
                        </ion-label>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>
</ion-app>