<ion-app>

  <ion-content class="background">

    <section>
      <img src="../../../assets/img/APP ZERO DIET_slides-08.png">
    </section>
    <section class="section-title">
      <h3 style="text-align: center;">
        Cuestionario Semanal
      </h3>
    </section>



    <ion-grid>
      <section class="seccion">
        <ion-row>
          <section class="section-label">
            <label class="label">
              ¿Realizó alguna actividad fisica?
            </label>
          </section>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-checkbox color="verde" checked slot="start" class="check"></ion-checkbox>
              <ion-label class="my-label">Si</ion-label>
            </ion-item>
          </ion-col>
  
          <ion-col>
            <ion-item lines="none">
              <ion-checkbox color="verde" checked slot="start" class="check"></ion-checkbox>
              <ion-label class="my-label">No</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </section>

      <section class="seccion">
        <ion-row>
          <section class="section-label">
            <label class="label">
              ¿Evacuó bien?
           </label>
          </section>
        </ion-row>
        
  
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-checkbox color="verde" checked slot="start" class="check"></ion-checkbox>
              <ion-label class="my-label">Si</ion-label>
            </ion-item>
          </ion-col>
  
          <ion-col>
            <ion-item lines="none">
              <ion-checkbox color="verde" checked slot="start" class="check"></ion-checkbox>
              <ion-label class="my-label">No</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </section>

      <section class="seccion">
        <ion-row>
          <section class="section-label">
            <label class="label">
                ¿Qué fue más evidente?
              </label>
            </section>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-checkbox color="verde" checked slot="start" class="check"></ion-checkbox>
              <ion-label class="my-label">Talla</ion-label>
            </ion-item>
          </ion-col>
  
          <ion-col>
            <ion-item lines="none">
              <ion-checkbox color="verde" checked slot="start" class="check"></ion-checkbox>
              <ion-label class="my-label">Peso</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </section>

      <section class="seccion">
        <ion-row>
          <ion-col>
          <ion-item>
            <ion-label position="floating" class="label">¿Cúal fue su experiencia en esta semana?</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>
          </ion-col>
        </ion-row>
      </section>

      <section class="seccion">
        <ion-row>
          <ion-col>
          <ion-item>
            <ion-label position="floating" class="label">Comentarios</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>
          </ion-col>
        </ion-row>
      </section>
       
  

    </ion-grid>

    <section class="seccion-btn">
      <ion-button color="verde"  expand="full" shape="round" class="btn">
        FINALIZAR
      </ion-button>
    </section>

    
    

  </ion-content>

</ion-app>
